<% if @task.nil? %>
  <h1>404 Not Found</h1>
<% else %>
  <h1>Task Details</h1>
  <p><%= "Task: #{@task[:title]}" %></p>
  <p><%= "Description: #{@task[:description]}" %></p>
  <p><%= "Completion Date: #{@task[:completion_date]}" %></p>
<% end %>
